
<h1 class="text-white p-4">Welcome {{user}}</h1>

<a routerLink="/transaction">view transaction history</a>

<div class="text white container bg-black w-75">
  <form action="" (ngSubmit)="deposit()" [formGroup]="depositForm">
    <h4 style="text-align: center;color: red;">Dposit</h4> 
    
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Account number</label>
            <input type="" name="acnum1" formControlName="acno" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="psw1" formControlName="psw" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input type="" name="amnt1" formControlName="amnt" class="form-control">
          </div>
          <button type="submit"  class="btn btn-primary">Signup</button>
<br><br>
    
    </form>
</div>

<br><br><br>

<div class="text-white container bg-black w-75 ">

  <form action="" (ngSubmit)="withdraw()" [formGroup]="withdrawForm">
    <h4 style="text-align: center;color: red;">Withdraw</h4> 
    
        <div  class="mb-3 ">

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Account number</label>
            <input type="" name="acnum1" formControlName="acno1" class="form-control">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="psw2" formControlName="psw1" class="form-control" >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Amount</label>
            <input type="" name="amnt2" formControlName="amnt1" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">Signup</button>
          <br><br>
        </div>
    </form>
  
  </div>